<footer class="footer bg-dark py-4 mt-auto">
    <div class="container">
        <span class="span text-white">
            <h5 class="text-center">&copy; All Right Reserved</h5>
        </span>
    </div>
</footer>
